body{
    background: #ffffff;
}

@font-face {
    font-family: "Modern";
    src: url(/lib/Modern\ Romance.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

.card {
    background: #fae0ec;
}

.btn {
    width: 200px;
    background: #f170aa;
    border: #f170aa 1px solid;
    transition: all 1s;
}

.btn:hover{
    background: #f5a5c9;
    border: #f5a5c9 1px solid;
}


header{
    margin: 0;
    padding: 0;
    background-color: #ff9ecdde;
}

.nav-link{
    position: relative;
    color: #000000;
    text-transform: capitalize;
}

.nav-link:hover{
    color: #FADCEA;
}


.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ca0b64;
    transition: width .3s ease;
}

.nav-link:hover::after,
.nav-link.active::after{
    width: 100%;
}

.main-nav{
    display: flex;
    gap: 1.5rem;
}

.img-logo{
    width: 100px;
    height: 70px;
}

.logo{
    background-color: #fcfcfc;
    border-radius: 10px;
}

.link{
    text-decoration: none;
    color: #000000;
}

@font-face {
    font-family: "Mathreal";
    src: url(/lib/Mathreal.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

.title h1{
    font-family: "Mathreal";
}

.title-2{
    font-family: "Modern";
    font-size: 40px;
    text-transform: uppercase;
}

.bola{
    background-color: #28ea48ad;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    transition: all 10ms;
}

.bola:hover{
    transform: scale(1.1);
    background-color: #34f054;
}

.icon-bola{
    font-size: 40px;
    color: #ffffff;
}

footer{
    background-color: #faa8d0de;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    max-height: 400px;
    max-width: 100%;
}

.footer-link{
    padding-right: 10px;
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
}

.footer-link:hover{
    color: #52413f;
}

.title-footer{
    text-transform: uppercase;
    font-family: "Modern";
}

.text-danger{
    color: #f55582 !important;
}
.footer-card{
    border-right: #ffffff 1px solid;
}
.footer-card-1{
    border-top: #fd759b 1px solid;
    width: 100%;
    padding-top: 10px;
}
.icon-footer{
    color: #f55582;
    margin-right: 10px;
}

.footer-logo{
    background: #ffffff;
    width: 100px;
    border-radius: 10px;
}

.footer-link{
    padding-right: 10px;
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
}

.footer-link:hover{
    color: #52413f;
}

.footer_link{
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
}

.footer_link:hover{
    color: #52413f;
}
