header{
    margin: 0;
    padding: 0;
    background-color: #ff9ecdde;
}

.nav-link{
    color: #000000;
    text-transform: capitalize;
}

.nav-link:hover{
    color: #FADCEA;
}

.img-logo{
    width: 100px;
    height: 70px;
}

.logo{
    background-color: #fcfcfc;
    border-radius: 10px;
}