
body{
    background-color: #fddfdd;
    max-width: 100%;
}

@font-face {
    font-family: "Modern";
    src: url(/lib/Modern\ Romance.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

.card img{
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: .3s;
    border-radius: 12px;
}

.card:hover img{
    transform: scale(1.5);
    z-index: 1;
}

.title{
    font-family: "Modern";
    text-transform: uppercase;
}

.sub-title{
    font-family: "Modern";
    text-transform: capitalize;
}

header{
    margin: 0;
    padding: 0;
    background-color: #ff9ecdde;
}

.nav-link{
    color: #000000;
    text-transform: capitalize;
}

.nav-link:hover{
    color: #FADCEA;
}

.img-logo{
    width: 100px;
    height: 70px;
}

.logo{
    background-color: #fcfcfc;
    border-radius: 10px;
}

@font-face {
    font-family: "Mathreal";
    src: url(/lib/Mathreal.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

.title h1{
    font-family: "Mathreal";
}

.bola{
    background-color: #28ea48ad;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    transition: all 10ms;
}

.bola:hover{
    transform: scale(1.1);
}

.icon-bola{
    font-size: 40px;
    color: #ffffff;
}