*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFD4E8;
    height: 100vh;
}

@font-face {
    font-family: "Modern";
    src: url(/lib/Modern\ Romance.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

.title-1 h1{
    font-family: "Modern";
    text-align: center;
    text-transform: uppercase;
}

.val{
    text-align: center;
}

.link{
    transform: translateY(20px);
}
.img-1{
    height: 400px;
}

.cont{
    margin-bottom: 10px !important;
}

header{
    margin: 0;
    padding: 0;
    background-color: #ff9ecdde;
}

.nav-link{
    color: #000000;
    text-transform: capitalize;
}

.nav-link:hover{
    color: #FADCEA;
}

.img-logo{
    width: 100px;
    height: 70px;
}

.logo{
    background-color: #fcfcfc;
    border-radius: 10px;
}

@font-face {
    font-family: "Mathreal";
    src: url(/lib/Mathreal.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

.title h1{
    font-family: "Mathreal";
}

.title-2{
    font-family: "Modern";
    font-size: 40px;
}