<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/contacto.css">
    <title>contacto</title>
</head>
<body>
    <header class="navbar navbar-expand-lg bd-navbar sticky-top">
        <nav class="container-xxl">
            <div class="logo">
                <img src="/img/logo.png" alt="" class="img-logo">
            </div>
            <div class="title">
                <h1>ETERNAL CREATIONS</h1>
            </div>
            <div class="main-nav">
                <a href="/index.html" class="nav-link">inicio</a>
                <a href="/components/nosotros.html" class="nav-link">nosotros</a>
                <a href="/components/products.html" class="nav-link">productos</a>
                <a href="/components/galery.html" class="nav-link">galeria</a>
                <a href="/components/contacto.html" class="nav-link active" aria-current="page">contacto</a>
            </div>
        </nav>
    </header>

    <div class="bola">
        <a href="https://wa.me/573227212695"><i class="fa-brands fa-whatsapp icon-bola"></i></a>
    </div>

    <h2 class="text-center my-3 title-2">contacto</h2>

    <div class="container ">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h3>Contáctanos</h3>
                        <form>
                            <div class="my-3">
                                <label class="form-label" for="nombre">Nombre</label>
                                <input class="form-control" type="text" id="nombre" name="nombre" placeholder="Nombre">
                            </div>
                            
                            <div class="my-3">
                                <label class="form-label" for="correo">Correo electrónico</label>
                                <input class="form-control" type="email" id="correo" name="correo" placeholder="Correo electrónico">
                            </div>
                            
                            <div class="my-3">
                                <label class="form-label" for="mensaje">Mensaje</label>
                                <textarea class="form-control" id="mensaje" name="mensaje" placeholder="Mensaje"></textarea>
                            </div>
                            
                            
                            <a href="https://wa.me/573227212695" class="btn btn-dark my-4">Enviar</a>
                        </form>
                    </div>
                    <div class="col col-6 col-sm-6 align-self-center">
                        <div>
                            <h3>También Puedes Escribirnos</h3>
                            <ul>
                                <li class="my-4">
                                    <strong>WhatsApp</strong><br>
                                    <a href="https://wa.me/573227212695"  class="link">+57 322 7212695</a>
                                </li>
                                <li>
                                    <strong>Instagram</strong><br>
                                    <a href="https://instagram.com/eternal_creations_18" class="link">@eternal_creations_18</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="mt-3">
        <div class="row">
            <div class="col my-3 footer-card mx-3">
                <div class="footer-logo my-3">
                    <img src="/img/logo.png" class="img-logo" alt="">
                </div>
                <p>
                    Creamos detalles unicos y
                    especiales para cada ocasión
                    Hechos con amor, para
                    momentos inolvidables.
                    <i class="fa-solid fa-heart icon-footer"></i>
                </p>
            </div>

            <div class="col my-3 footer-card">
                <h5>NAVEGACIÓN</h5>
                <div class="row">
                    <div class="col">
                        <i class="fa-regular fa-house icon-footer"></i><a href="#" class="footer_link">inicio</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <i class="fa-solid fa-users icon-footer"></i><a href="/components/nosotros.html" class="footer_link">nosotros</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <i class="fa-solid fa-gift icon-footer"></i><a href="/components/products.html" class="footer_link">productos</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <i class="fa-regular fa-image icon-footer"></i><a href="/components/galery.html" class="footer_link">galeria</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <i class="fa-regular fa-envelope icon-footer"></i><a href="/components/contacto.html" class="footer_link">contacto</a>
                    </div>
                </div>
            </div>
            <div class="col my-3 footer-card">
                <h5>CONTÁCTANOS</h5>
                        <div class="row">
                            <div class="col">
                                <i class="fa-brands fa-whatsapp icon-footer"></i><a href="https://wa.me/573227212695" class="footer_link">3227212695</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa-solid fa-location-dot icon-footer"></i><a href="#" class="footer_link">Malaga Santander</a>
                            </div>
                        </div>
            </div>
            <div class="col my-3">
                <h5>SÍGUENOS</h5>
                <i class="fa-brands fa-instagram icon-footer"></i><a href="https://instagram.com/eternal_creations_18" class="footer-link">@eternal_creations_18</a>
            </div>
        </div>

        <hr class="hr">

        <div class="container text-center my-3 footer-card-1">
            <p>
                © 2026 eternal creations
                Todos los derechos reservados <i class="fa-solid fa-heart icon-footer"></i>
            </p>
        </div>
    </footer>
<script src="/js/bootstrap.js"></script>
</body>
</html>