<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styleGalery.css">
    <title>Galery</title>
</head>
<body>

    <header class="navbar navbar-expand-lg bd-navbar sticky-top">
        <nav class="container-xxl">
            <div class="logo">
                <img src="/img/logo.png" alt="" class="img-logo">
            </div>
            <div class="title">
                <h1>ETERNAL CREATIONS</h1>
            </div>
            <div class="nav">
                <a href="/index.html" class="nav-link">inicio</a>
                <a href="/components/nosotros.html" class="nav-link">nosotros</a>
                <a href="/components/products.html" class="nav-link">productos</a>
                <a href="/components/galery.html" class="nav-link">galeria</a>
                <a href="/components/contacto.html" class="nav-link">contacto</a>
            </div>
        </nav>
    </header>

    <div class="bola">
        <a href="https://wa.me/573227212695"><i class="fa-brands fa-whatsapp icon-bola"></i></a>
    </div>
    
    <div class="container py-5">
        <h1 class="text-center mb-5 title">galeria</h1>

        <h2 class="text-center mb-5 sub-title">galeria de creaciones</h2>

        <div class="row g-4 my-1" >
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG-20250325-WA0012.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG-20260518-WA0023.jpeg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG-20260518-WA0127.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG-20260518-WA0129.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row g-4 my-1">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG-20260613-WA0038.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG-20260627-WA0016.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG-20260627-WA0038.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG-20260627-WA0044.jpg" alt="">
                </div>
            </div>
        </div>
        
        <div class="row g-4 my-1" >
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG_20260312_065309~2-fotor-enhance-20260707173103.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG_20260323_191048_1.jpg" alt="">
                </div>
            </div>  
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG-20250705-WA0069.jpg" alt="">
                </div>
            </div>                         
            
             <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/caja del dia del padre.png" alt="">
                </div>
            </div> 
            
        </div>

        <div class="row g-4 my-1">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/WhatsApp Image 2026-07-09 at 5.24.05 PM.jpeg" alt="">
                </div>
            </div>
            
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/ChatGPT Image 10 jul 2026, 02_30_34 p.m..png" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/ChatGPT Image 10 jul 2026, 02_36_18 p.m..png" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/ChatGPT Image 10 jul 2026, 02_35_53 p.m..png" alt="">
                </div>
            </div>
        </div>

        
    </div>
<script src="/js/bootstrap.js"></script>
</body>
</html>