<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styleGalery.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container py-5">
        <div class="link">
            <a href="/index.html" class="rollback">volver</a>
        </div>
        <h1 class="text-center mb-5 title">galeria</h1>

        <h2 class="text-center mb-5 sub-title">galeria de creaciones</h2>

        <div class="row g-4">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG-20250325-WA0012.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG-20260518-WA0023.jpeg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG-20260518-WA0127.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG-20260518-WA0129.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row g-4 my-2">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG-20260613-WA0038.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG-20260627-WA0016.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG-20260627-WA0038.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG-20260627-WA0044.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG_20260312_065309~2-fotor-enhance-20260707173103.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <img src="/img/IMG_20260323_191048_1.jpg" alt="">
                </div>
            </div>
            
        </div>
    </div>
<script src="/js/bootstrap.js"></script>
</body>
</html>