<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nosotros</title>
</head>
<body>
    <div class="">
        <h2>Misión</h2>
        <p>En Eternal Creations nuestra misión es crear regalos y productos personalizados que transmitan emociones y hagan de cada ocasión <br>
             un momento especial. Nos comprometemos a ofrecer diseños únicos, materiales de calidad y un excelente servicio, brindando a nuestros<br>
             clientes detalles que reflejen amor, creatividad y dedicación.</p>
        <h2>Visión</h2>
        <p>Ser una marca reconocida por la calidad, creatividad e innovación de nuestros productos personalizados, convirtiéndonos en la primera<br>
             opción de quienes buscan regalos únicos y significativos. Aspiramos a crecer de manera constante, ampliando nuestro catálogo y llegando<br>
              a más personas, creando recuerdos inolvidables en cada detalle.</p>
        <h2>Nuestros Valores</h2>
        <p>

❤️ Amor: Elaboramos cada detalle con cariño para transmitir emociones y crear momentos inolvidables.<br>

🎨 Creatividad: Diseñamos productos únicos y personalizados que reflejan la esencia de cada cliente.<br>

⭐ Calidad: Utilizamos materiales de excelente calidad y cuidamos cada detalle en nuestros productos.<br>

🤝 Compromiso: Cumplimos con responsabilidad, puntualidad y dedicación en cada pedido.<br>

💬 Confianza: Construimos relaciones basadas en la honestidad, el respeto y la transparencia.<br>

😊 Pasión: Disfrutamos lo que hacemos y ponemos todo nuestro esfuerzo para superar las expectativas de nuestros clientes.<br>

🌟 Innovación: Buscamos constantemente nuevas ideas, tendencias y diseños para ofrecer productos exclusivos.<br></p>
        <h2>Nuestra historia</h2>
        <p>Nuestra Historia

Eternal Creations nació de un gesto de amor. Hace cuatro años surgió la idea de crear un detalle especial para mi mamá.<br>
 En lugar de comprar un regalo, decidí hacerlo con mis propias manos. Compré los materiales, aprendí el proceso y elaboré<br>
  un obsequio único, hecho con dedicación y cariño.

Con el paso del tiempo, esa pasión por crear detalles personalizados siguió creciendo. Lo que comenzó como un regalo para una persona<br>
 especial se convirtió en un sueño que finalmente tomó forma.

El 8 de marzo de 2026, Eternal Creations fue oficialmente fundada como un emprendimiento, con el propósito de ofrecer regalos<br>
 personalizados que transmitan emociones y creen recuerdos inolvidables.

Hoy, cada producto que elaboramos refleja el mismo amor, creatividad y dedicación con los que nació este proyecto, porque creemos que los mejores<br>
 regalos son aquellos que tienen un significado especial.</p>
    </div>
</body>
</html>