<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styleWe.css">
    <title>nosotros</title>
</head>
<body>
    <div class="link">
        <a href="/index.html" class="rollback">volver</a>
    </div>
    <div class="title">
        <h1>nosotros</h1>
    </div>
    <div class="container">
        <div class="left">
            <!-- <img src="/img/IMG_20260312_065309~2-fotor-enhance-20260707173103.jpg" alt=""> -->
        </div>
        <div class="row">
            <h2>Nuestra historia</h2>
            <p>
                Eternal Creations nació de un gesto de amor. Hace cuatro años surgió la idea de crear un detalle especial para mi mamá.
                En lugar de comprar un regalo, decidí hacerlo con mis propias manos. Compré los materiales, aprendí el proceso y elaboré
                un obsequio único, hecho con dedicación y cariño.

                Con el paso del tiempo, esa pasión por crear detalles personalizados siguió creciendo. Lo que comenzó como un regalo para una persona
                especial se convirtió en un sueño que finalmente tomó forma.

                El 8 de marzo de 2026, Eternal Creations fue oficialmente fundada como un emprendimiento, con el propósito de ofrecer regalos
                personalizados que transmitan emociones y creen recuerdos inolvidables.

                Hoy, cada producto que elaboramos refleja el mismo amor, creatividad y dedicación con los que nació este proyecto, porque creemos que los mejores
                regalos son aquellos que tienen un significado especial.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h2>Misión</h2>
                        <p class="p">
                            En Eternal Creations nuestra misión es crear regalos y productos personalizados que transmitan emociones y hagan de cada ocasión 
                            un momento especial. Nos comprometemos a ofrecer diseños únicos, materiales de calidad y un excelente servicio, brindando a nuestros
                            clientes detalles que reflejen amor, creatividad y dedicación.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2>Visión</h2>
                        <p class="p">
                            Ser una marca reconocida por la calidad, creatividad e innovación de nuestros productos personalizados, convirtiéndonos en la primera
                            opción de quienes buscan regalos únicos y significativos. Aspiramos a crecer de manera constante, ampliando nuestro catálogo y llegando
                            a más personas, creando recuerdos inolvidables en cada detalle.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="val">Nuestros Valores</h2>
        <div class="content">
            <div class="cart">
                <div class="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                
                <div class="card-body">
                    <p>
                        <b>Amor</b> 
                    </p>
                </div>
            </div>

            <div class="cart">
                <div class="">
                    <i class="fa-solid fa-palette"></i>
                </div>
                
                <div class="card-body">
                    <p>
                        <b>Creatividad</b>
                    </p>
                </div>
            </div>
            <div class="cart">
                <div class="">
                    <i class="fa-regular fa-star"></i>
                </div>
                
                <div class="card-body">
                    <p>
                        <b>Calidad</b>
                    </p>
                </div>
            </div>
            <div class="cart">
                <div class="">
                    <i class="fa-regular fa-handshake"></i>
                </div>
                
                <div class="card-body">
                    <p>
                        <b>Compromiso</b> 
                    </p>
                </div>
            </div>
            <div class="cart">
                <div class="">
                    <i class="fa-regular fa-comment-dots"></i>
                </div>
                
                <div class="card-body">
                    <p>
                        <b>Confianza</b>
                    </p>
                </div>
            </div>
            <div class="cart">
                <div class="">
                    <i class="fa-regular fa-lightbulb"></i>
                </div>
                
                <div class="card-body">
                    <p>
                        <b>Innovación</b> 
                    </p>
                </div>
            </div>         
        </div>
    </div>
</body>     
</html>