<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styleWe.css">
    <title>Nosotros</title>
</head>
<body>
    <header class="navbar navbar-expand-lg bd-navbar sticky-top">
        <nav class="container-xxl">
            <div class="logo">
                <img src="/img/logo.png" alt="" class="img-logo">
            </div>
            <div class="title">
                <h1>ETERNAL CREATIONS</h1>
            </div>
            <div class="nav">
                <a href="/index.html" class="nav-link">inicio</a>
                <a href="/components/nosotros.html" class="nav-link">nosotros</a>
                <a href="/components/products.html" class="nav-link">productos</a>
                <a href="/components/galery.html" class="nav-link">galeria</a>
                <a href="/components/contacto.html" class="nav-link">contacto</a>
            </div>
        </nav>
    </header>

    <div class="bola">
        <a href="https://wa.me/573227212695"><i class="fa-brands fa-whatsapp icon-bola"></i></a>
    </div>
    
    <div class="title-1">
        <h1>nosotros</h1>
    </div>

    <section class="container my-4">
        <div class="row align-items-center g-4">
            <div class="col-12 col-lg-7">
                <h2>Nuestra historia</h2>
                <p>
                    Eternal Creations nació de un gesto de amor. Hace cuatro años surgió la idea de crear un detalle especial para mi mamá.
                    En lugar de comprar un regalo, decidí hacerlo con mis propias manos. Compré los materiales, aprendí el proceso y elaboré
                    un obsequio único, hecho con dedicación y cariño.

                    Con el paso del tiempo, esa pasión por crear detalles personalizados siguió creciendo. Lo que comenzó como un regalo para una persona
                    especial se convirtió en un sueño que finalmente tomó forma.

                    El 8 de marzo de 2026, Eternal Creations fue oficialmente fundada como un emprendimiento, con el propósito de ofrecer regalos
                    personalizados que transmitan emociones y creen recuerdos inolvidables.

                    Hoy, cada producto que elaboramos refleja el mismo amor, creatividad y dedicación con los que nació este proyecto, porque creemos que los mejores
                    regalos son aquellos que tienen un significado especial.
                </p>
            </div>
            <div class="col-12 col-lg-5">
                <img src="/img/IMG-20260605-WA0007.jpg"
                    class="img-fluid rounded shadow img-1"
                    alt="Nuestra historia">
            </div>
        </div>
    </section>
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h2 class="text-center">Misión</h2>
                        <p class="p">
                            En Eternal Creations nuestra misión es crear regalos y productos personalizados que transmitan emociones y hagan de cada ocasión 
                            un momento especial. Nos comprometemos a ofrecer diseños únicos, materiales de calidad y un excelente servicio, brindando a nuestros
                            clientes detalles que reflejen amor, creatividad y dedicación.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h2 class="text-center">Visión</h2>
                        <p class="p">
                            Ser una marca reconocida por la calidad, creatividad e innovación de nuestros productos personalizados, convirtiéndonos en la primera
                            opción de quienes buscan regalos únicos y significativos. Aspiramos a crecer de manera constante, ampliando nuestro catálogo y llegando
                            a más personas, creando recuerdos inolvidables en cada detalle.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-center my-5 title-2">
        Nuestros Valores
    </h2>

    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-2 my-4">
                <div class="card h-100 text-center border-0">
                    <div class="card-body">
                        <i class="fa-regular fa-heart fa-3x text-danger mb-3"></i>
                        <h6>Amor</h6>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-2 my-4">
                <div class="card h-100 text-center border-0">                    
                    <div class="card-body">
                        <i class="fa-solid fa-palette fa-3x text-danger mb-3"></i>
                        <h6>Creatividad</h6>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-2 my-4">
                <div class="card h-100 text-center border-0">
                    <div class="card-body">
                        <i class="fa-regular fa-star fa-3x text-danger mb-3"></i>
                        <h6>Calidad</h6>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 my-4">
                <div class="card h-100 text-center border-0">
                    <div class="card-body">
                        <i class="fa-regular fa-handshake fa-3x text-danger mb-3"></i>
                        <h6>Compromiso</h6>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 my-4">
                <div class="card h-100 text-center border-0">
                    <div class="card-body">
                        <i class="fa-regular fa-comment-dots fa-3x text-danger mb-3"></i>
                        <h6>Confianza</h6>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 my-4">
                <div class="card h-100 text-center border-0">                    
                    <div class="card-body">
                        <i class="fa-regular fa-lightbulb fa-3x text-danger mb-3"></i>
                        <h6>Innovación</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>     
</html>